<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
</head>
<body>
	<div class="btn-group">
  <button type="button" class="btn btn-warning"><a href="german.html">Introduction</a></button>
  <button type="button" class="btn btn-warning" id="gre"><a href="german2.html">Greet</a></button>
  <button type="button" class="btn btn-warning"><a href="german3.html">Regular verbs</a></button>
   <button type="button" class="btn btn-warning"><a href="german4.html">Zahlen</a></button>
</div>
<h1 style="background-color:tomato;"><center>How to greet?</h1>
  
   <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>GERMAN</th>
        <th>AUDIO</th>
        <th>ENGLISH</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td >Hallo</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/01.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/01.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio></td>
      	<td>Hello</td>
      </tr>
      <tr>
      	<td>Guten Tag</td>
      	<td><audio controls>
      		<source src="https://media.thegermanproject.com/de/audio/lessons/5/03.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/03.mp3" type="audio/mpeg"></audio></td>
      	<td>Good day</td>
      </tr>
      <tr>
      	<td>Guten Morgen</td>
      	<td><audio controls>
      		<source src="https://media.thegermanproject.com/de/audio/lessons/5/02.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/02.mp3" type="audio/mpeg"></audio></td>
      	<td>Good Morning</td>
      </tr>
      <tr>
      	<td>Guten Abend(starting at around 6pm)</td>
      	<td>
      		<audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/05.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/05.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      		
      	</td>
      	<td>Good Evening</td>
      </tr>
      <tr>
      	<td>Grüß Gott!</td>
      	<td>
      		<audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/04.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/04.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Good day!(Used mostly in southern Germany and Austria)</td>
      </tr>
      <tr>
      	<td>Auf Wiedersehen!</td>
      	<td>
      		<audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/06.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/06.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Goodbye! (formal)</td>
      	
      </tr>
         <tr>
      	<td> Tschüss!</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/07.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/07.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</td>
      	<td>Goodbye! (informal)</td>
      	
      </tr>

      <tr>
      	<td>Ciao!</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/08.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/08.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Goodbye! (borrowed from Italian; popular with younger Germans)</td>
      </tr>

        <tr>
      	<td> Bitte</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/12.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/12.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Please</td>
      </tr>

       <tr>
      	<td>Dankeschön</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/13.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/13.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Thank you</td>
      </tr>

      <tr>
      	<td>Danke</td>
      	<td><audio controls>
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/14.mp3" type="audio/ogg">
  <source src="https://media.thegermanproject.com/de/audio/lessons/5/14.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
      	</td>
      	<td>Thank you (this shortened version is much more common)</td>
      </tr>



</tbody>
  </table>
  <div class="alert alert-danger"><center>
  <h5>How would you introduce yourself?</h5>
</div>
<ol>
   
  <li style="font-size:20px">Ich heiße.... (I am called as)</li>
  <li style="font-size:20px">Ich bin....(I am )</li>
  <li style="font-size:20px">Mein Name ist ....(My name is) ->formal </li>
  <li style="font-size:20px">Und Sie? (And you)-> formal if he/she asks your name first </li>
  <li style="font-size:20px">Und Du? (And you)-> informal if he/she asks your name first </li>
  <li style="font-size:20px">Wie heißen Sie? (What is your name?/ how are called you?) Sie -> formal you</li>
  <li style="font-size:20px">Wie heißt Du? (What is your name?) Du -> informal you</li>
  <li style="font-size:20px">Woher kommen Sie? (where from come you?)</li>
  <li style="font-size:20px">Woher kommst Du? -> informal</li>
  <li style="font-size:20px">Ich komme aus indien (I come from india)</li>
  <li style="font-size:20px">Wo wohnen Sie? (Where live you)</li>
   <li style="font-size:20px">Ich wohne in Delhi (I come from india)</li>

</ol>
<ol type="i">
	<li>Nachmittag -> Afternoon</li>
	<li>Tschan -> bye</li>
	<li>Tschüs -> bye</li>
	<li>Danke -> thankyou</li>
	<li>Bitte -> please</li>
	<li>Entschuldigung -> excuse me</li>
	<li>Tut mir leid -> sorry</li>
</ol>
<hr>
<div ng-app="">
	<div class="btn btn-group" >
		<button type="button" class="btn btn-success" ng-click="woch={visibility:'visible'}" ng-dblclick="woch={visibility:'hidden'}">Wochentage</button>
		<button type="button" class="btn btn-success" ng-click="monat={visibility:'visible'}" ng-dblclick="monat={visibility:'hidden'}">Monate</button>
		<button type="button" class="btn btn-success" ng-click="haus={visibility:'visible'}" ng-dblclick="haus={visibility:'hidden'}">haushalt</button>
		<button type="button" class="btn btn-success" ng-click="obst={visibility:'visible'}" ng-dblclick="obst={visibility:'hidden'}">Obst</button>
		<button type="button" class="btn btn-success" ng-click="gem={visibility:'visible'}" ng-dblclick="gem={visibility:'hidden'}">Gemüse</button>
		</div>
		<br>
<table border="1" cellpadding="10" cellspacing="20" ng-style="woch" style="visibility: hidden;float: left;" >
	<tr><th>Wochentage</th><th> Week days</th></tr>
	<tr><td>Montag</td><td>Monday</td></tr>
		<tr><td>Dienstag</td><td>Tuesday</td></tr>
		<tr><td>Mittwoch</td><td>Wednesday</td></tr>
		<tr><td>Donnerstag</td><td>thursday</td></tr>
		<tr><td>Freitag</td><td>Friday</td></tr>
		<tr><td>Samstag</td><td>Saturday</td></tr>
		<tr><td>Sanntag</td><td>Sunday</td></tr>
        <tr><td colspan="2">Preposition - am</td></tr>
</table>
<table border="1" cellpadding="10" cellspacing="20" ng-style="monat" style="visibility: hidden;float: left;">
	<tr><th>Monate</th><th> Months</th></tr>
	<tr><td>Januar</td><td>january</td></tr>
		<tr><td>Februar</td><td>February</td></tr>
		<tr><td>März</td><td>March</td></tr>
		<tr><td>April</td><td>April</td></tr>
		<tr><td>Mai</td><td>May</td></tr>
		<tr><td>Juni</td><td>June</td></tr>
		<tr><td>Juli</td><td>July</td></tr>
		<tr><td>August</td><td>August</td></tr>
		<tr><td>September</td><td>September</td></tr>
		<tr><td>Oktober</td><td>october</td></tr>
		<tr><td>November</td><td>November</td></tr>
		<tr><td>Dezember</td><td>December</td></tr>
        <tr><td colspan="2">Preposition - im</td></tr>
</table>
<table border="1" cellpadding="10" cellspacing="20" ng-style="haus" style="visibility: hidden;float: left;">
	<tr><th>die Haushaltsgeräte</th><th> the Household Appliances</th></tr>
	<tr><td>die Waschmaschine</td><td>The washing machine</td></tr>
		<tr><td>der khülschrank</td><td>the Fridge</td></tr>
		<tr><td>der Gefrierschrank</td><td>the Freezer</td></tr>
		<tr><td>die Mikrowelle</td><td>the microwave</td></tr>
		<tr><td>der Herd</td><td>the stove</td></tr>
		<tr><td>der Backofen</td><td>the oven</td></tr>
		<tr><td>der Toaster</td><td>the toaster</td></tr>
		<tr><td>die Kaffemaschine</td><td>the coffe machine</td></tr>
		<tr><td>der Computer</td><td>the computer</td></tr>
		<tr><td>der Laptop</td><td>the laptop</td></tr>
		<tr><td>das Faxgerät</td><td>the fax machine</td></tr>
		<tr><td>der Drucker</td><td>the printer</td></tr>
        <tr><td>der Staubsauger</td><td>the vaccum cleaner</td></tr>
        <tr><td>das Bügeleisen</td><td>the iron</td></tr>
        <tr><td>der Rasierer</td><td>the shaver</td></tr>
        <tr><td>der Fernseher</td><td>the TV</td></tr>
</table>
<table border="1" cellpadding="10" cellspacing="20" ng-style="obst" style="visibility: hidden;float: left;">
	<tr><th>Das Obst</th><th>the fruits</th></tr>
	<tr><td>der Apfel</td><td>The Apple</td></tr>
		<tr><td>die äpfel</td><td>The Apples</td></tr>
		<tr><td>die banane/bananen</td><td>the banana/bananas</td></tr>
		<tr><td>die Birne/Birnen</td><td>pear/pears</td></tr>
		<tr><td>die Erdbeere/Erdbeeren</td><td>strawberry/strawberries</td></tr>
		<tr><td>die Heidelbeere/Heidelbeeren or ?? </td><td>blueberry/blueberries</td></tr>
		<tr><td>die kirsche/kirschen</td><td>cherry/cherries</td></tr>
		<tr><td>die kiwi/kiwis</td><td></td></tr>
		<tr><td>die Orange/Orangen</td><td></td></tr>
		<tr><td>die Pflaume/Pflaumen</td><td>plum/plums</td></tr>
		<tr><td>die traube/trauben</td><td>grape/grapes</td></tr>
		<tr><td>die wassermelone/wassermelonen</td><td>watermelon/watermelons</td></tr>
        <tr><td>die Ananas</td><td>pineapple/pineapples</td></tr>
        <tr><td>der Granatapfel</td><td>pomegrante</td></tr>
        <tr><td>die Granatäpfel</td><td>pomegrantes</td></tr>
        <tr><td>der Pfirsich/die Pfirsiche</td><td>peach/peaches</td></tr>
        <tr><td>die Aprikose/Aprikosen</td><td>apricot/apricots</td></tr>
        <tr><td>die Melone/Melonen</td><td>Melon/melons</td></tr>
        <tr><td>die Avocado/Avocados</td><td></td></tr>
        <tr><td>die papaya/papayas</td><td></td></tr>
        <tr><td>die grapefruit/grapefruits</td><td></td></tr>
</table>
<table border="1" cellpadding="10" cellspacing="20" ng-style="gem" style="visibility: hidden;float: left;">
	<tr><th>Das Gemüse</th><th>vegetables</th></tr>
	<tr><td>die Karotte/Karotten</td><td>carrot/carrots</td></tr>
		<tr><td>die Zwiebel/Zwiebeln</td><td>onion/onions</td></tr>
		<tr><td>die Paprika/Paprikas</td><td>capsicum/capsicums</td></tr>
		<tr><td>die Kartoffel/Kartoffeln</td><td>potato/s</td></tr>
		<tr><td>die Zitrone/Zitronen</td><td>lemon/s</td></tr>
		<tr><td>die Bohne/Bohnen </td><td>bean/s</td></tr>
		<tr><td>der kürbis/die kürbisse</td><td>pumpkin/s</td></tr>
		<tr><td>der Mais</td><td>corn</td></tr>
		<tr><td>der Blumenkohl</td><td>cauliflower</td></tr>
		<tr><td>der Kohl/die Kohle</td><td>cabbage/s</td></tr>
		<tr><td>der Knoblauch</td><td>garlic</td></tr>
		<tr><td>der Brokkoli</td><td>Broccoli</td></tr>
        <tr><td>der spinat</td><td>spinach</td></tr>
        <tr><td>die Erbse/Erbsen</td><td>pea(s)</td></tr>
        <tr><td>die Gurke/Gurken</td><td>cucumber</td></tr>
        <tr><td>die Rote Bete/Rote Beten</td><td>beet root/s</td></tr>
        <tr><td>der Ingwer</td><td>ginger</td></tr>
        <tr><td>die Süßkartoffel/Süßkartoffeln</td><td>sweet potato</td></tr>
        <tr><td>der Salat</td><td>lettuce</td></tr>
</table>
</div>
</body>
</html>